:root {
  --primary-color: #2E7D32; /* Green */
  --secondary-color: #1565C0; /* Blue */
  --background-color: #F0F4F8; /* Light Blueish Gray */
  --text-color: #333333;
  --sidebar-width: 250px;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
}
